@{
	ViewData["Title"] = "محصول";
	Layout = "_LayoutShowProduct";
}

<div class="boxed">
	<!-- Page title -->
	<div class="page-title parallax parallax1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-title-heading">
						<h1 class="title">کاپشن ورزشی</h1>
					</div><!-- /.page-title-heading -->
					<div class="breadcrumbs">
						<ul>
							<li><a href="index.html">خانه</a></li>
							<li><a href="shop-3col.html">فروشگاه</a></li>
							<li><a href="shop-detail-fix.html">محصولات</a></li>
						</ul>
					</div><!-- /.breadcrumbs -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.page-title -->

	<section class="flat-row main-shop shop-detail style-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="flat-image-box clearfix">
						<div class="inner padding-top-4">
							<ul class="product-list-fix-image">
								<li>
									<img src="images/shop/sh-detail/detail-03.jpg" alt="Image">
								</li>
								<li>
									<img src="images/shop/sh-detail/detail-04.jpg" alt="Image">
								</li>
								<li>
									<img src="images/shop/sh-detail/detail-05.jpg" alt="Image">
								</li>
								<li>
									<img src="images/shop/sh-detail/detail-06.jpg" alt="Image">
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /.col-md-6 -->

				<div class="col-md-6">
					<div class="divider h0"></div>
					<div class="product-detail">
						<div class="inner">
							<div class="content-detail">
								<h2 class="product-title">بهترین کاپشن ورزشی</h2>
								<div class="flat-star style-1">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-half-o"></i>
									<span>(1)</span>
								</div>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
								<div class="price margin-top-24">
									<del><span class="regular">520,000 تومان</span></del>
									<ins><span class="amount">470,000 تومان</span></ins>
								</div>
								<ul class="product-infor style-1">
									<li><span>100% کتان</span></li>
									<li><span>6 ماه ضمانت</span></li>
									<li><span>ارسال رایگان</span></li>
									<li><span>کیفیت عالی</span></li>
								</ul>
								<div class="product-categories margin-top-22">
									<span>دسته بندی: </span><a href="#">آقایان,</a> <a href="#">کفش</a>
								</div>
								<div class="product-tags">
									<span>برچسب: </span><a href="#">پوشاک,</a> <a href="#">فشن,</a> <a href="#">ورزشی,</a> <a href="#">کاپشن</a>
								</div>
								<div class="product-quantity margin-top-35">
									<div class="quantity">
										<input type="text" value="1" name="quantity-number" class="quantity-number">
										<span class="inc quantity-button">+</span>
										<span class="dec quantity-button">-</span>
									</div>
									<div class="add-to-cart">
										<a href="#">افزودن به سبدخرید</a>
									</div>
									<div class="box-like">
										<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
									</div>
								</div>
								<ul class="flat-socials margin-top-46">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- /.product-detail -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.flat-row -->

	<section class="flat-row shop-detail-content style-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="flat-tabs style-1 has-border">
						<div class="inner">
							<ul class="menu-tab">
								<li class="active">توضیحات</li>
								<li>جزئیات بیشتر</li>
								<li>دیدگاه ها</li>
							</ul>
							<div class="content-tab">
								<div class="content-inner">
									<div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
										<div class="grid-row image-left clearfix">
											<div class="grid-item">
												<div class="thumb text-center">
													<img src="images/shop/sh-detail/detail-desc-01.jpg" alt="Image">
												</div>
											</div><!-- /.grid-item -->
											<div class="grid-item">
												<div class="text-wrap">
													<h6 class="title">100% چرم</h6>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت.</p>
												</div>
											</div>
										</div><!-- /.grid-row -->
									</div><!-- /.flat-grid-box -->
								</div><!-- /.content-inner -->
								<div class="content-inner">
									<div class="inner max-width-40">
										<table>
											<tr>
												<td>وزن</td>
												<td>1.73 کیلوگرم</td>
											</tr>
											<tr>
												<td>ابعاد</td>
												<td>100 x 37 x 100 سانتیمتر</td>
											</tr>
											<tr>
												<td>جنس</td>
												<td>80% کتان, 20% نخ</td>
											</tr>
											<tr>
												<td>سایز</td>
												<td>تک سایز, XL, L, M, S</td>
											</tr>
										</table>
									</div>
								</div><!-- /.content-inner -->
								<div class="content-inner">
									<div class="inner max-width-83 padding-top-33">
										<ol class="review-list">
											<li class="review">
												<div class="thumb">
													<img src="images/avatar-1.png" alt="Image">
												</div>
												<div class="text-wrap">
													<div class="review-meta">
														<h5 class="name">دیانا شمس</h5>
														<div class="flat-star style-1">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-o"></i>
														</div>
													</div>
													<div class="review-text">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
													</div>
												</div>
											</li><!--  /.review    -->
											<li class="review">
												<div class="thumb">
													<img src="images/avatar.png" alt="Image">
												</div>
												<div class="text-wrap">
													<div class="review-meta">
														<h5 class="name">رامین چناری</h5>
														<div class="flat-star style-1">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-o"></i>
														</div>
													</div>
													<div class="review-text">
														<p class="line-height-28">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
													</div>
												</div>
											</li><!--  /.review    -->
										</ol><!-- /.review-list -->
										<div class="comment-respond review-respond" id="respond">
											<div class="comment-reply-title margin-bottom-14">
												<h5>دیدگاه خود را بنویسید</h5>
												<p>آدرس ایمیل شما منتشر نخواهد شد، فیلدهای ضروری با علامت * مشخص شده اند.</p>
											</div>
											<form novalidate class="comment-form review-form" id="commentform" method="post" action="#">
												<p class="flat-star style-2">
													<label>امتیاز*:</label>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</p>
												<p class="comment-form-comment">
													<label>دیدگاه*</label>
													<textarea class="" tabindex="4" name="comment" required> </textarea>
												</p>
												<p class="comment-name">
													<label>نام</label>
													<input type="text" aria-required="true" size="30" value="" name="name" id="name">
												</p>
												<p class="comment-email">
													<label>ایمیل*</label>
													<input type="email" size="30" value="" name="email" id="email">
												</p>
												<p class="comment-form-notify clearfix">
													<input type="checkbox" name="check-notify" id="check-notify"> <label for="check-notify">اطلاع از پست های جدید از طریق ایمیل</label>
												</p>
												<p class="form-submit">
													<button class="comment-submit">ثبت</button>
												</p>
											</form>
										</div><!-- /.comment-respond -->
									</div>
								</div><!-- /.content-inner -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /.shop-detail-content -->

	<section class="flat-row shop-related">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-section margin-bottom-55">
						<h2 class="title">محصولات مرتبط</h2>
					</div>

					<div class="product-content product-fourcolumn clearfix">
						<ul class="product style2">
							<li class="product-item">
								<div class="product-thumb clearfix">
									<a href="#">
										<img src="images/shop/sh-4/1.jpg" alt="image">
									</a>
								</div>
								<div class="product-info clearfix">
									<span class="product-title">نام و نوع مدل محصول</span>
									<div class="price">
										<ins>
											<span class="amount">152,000 تومان</span>
										</ins>
									</div>
									<ul class="flat-color-list">
										<li>
											<a href="#" class="red"></a>
										</li>
										<li>
											<a href="#" class="blue"></a>
										</li>
										<li>
											<a href="#" class="black"></a>
										</li>
									</ul>
								</div>
								<div class="add-to-cart text-center">
									<a href="#">افزودن به سبدخرید</a>
								</div>
								<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
							</li>
							<li class="product-item">
								<div class="product-thumb clearfix">
									<a href="#">
										<img src="images/shop/sh-4/2.jpg" alt="image">
									</a>
									<span class="new">جدید</span>
								</div>
								<div class="product-info clearfix">
									<span class="product-title">نام و نوع مدل محصول</span>
									<div class="price">
										<ins>
											<span class="amount">80,000 تومان</span>
										</ins>
									</div>
								</div>
								<div class="add-to-cart text-center">
									<a href="#">افزودن به سبدخرید</a>
								</div>
								<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
							</li>
							<li class="product-item">
								<div class="product-thumb clearfix">
									<a href="#" class="product-thumb">
										<img src="images/shop/sh-4/3.jpg" alt="image">
									</a>
								</div>
								<div class="product-info clearfix">
									<span class="product-title">نام و نوع مدل محصول</span>
									<div class="price">
										<ins>
											<span class="amount">150,000 تومان</span>
										</ins>
									</div>
								</div>
								<div class="add-to-cart text-center">
									<a href="#">افزودن به سبدخرید</a>
								</div>
								<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
							</li>
							<li class="product-item">
								<div class="product-thumb clearfix">
									<a href="#" class="product-thumb">
										<img src="images/shop/sh-4/4.jpg" alt="image">
									</a>
									<span class="new sale">تخفیف</span>
								</div>
								<div class="product-info clearfix">
									<span class="product-title">نام و نوع مدل محصول</span>
									<div class="price">
										<del>
											<span class="regular">520,000 تومان</span>
										</del>
										<ins>
											<span class="amount">470,000 تومان</span>
										</ins>
									</div>
									<ul class="flat-color-list">
										<li>
											<a href="#" class="red"></a>
										</li>
										<li>
											<a href="#" class="blue"></a>
										</li>
										<li>
											<a href="#" class="black"></a>
										</li>
									</ul>
								</div>
								<div class="add-to-cart text-center">
									<a href="#">افزودن به سبدخرید</a>
								</div>
								<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
							</li>
						</ul><!-- /.product -->
					</div><!-- /.product-content -->
				</div>
			</div><!-- /.row -->
		</div>
	</section>

	<section class="flat-row mail-chimp">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="text">
						<h3>اشتراک در خبرنامه</h3>
					</div>
				</div>
				<div class="col-md-8">
					<div class="subscribe clearfix">
						<form action="#" method="post" accept-charset="utf-8" id="subscribe-form">
							<div class="subscribe-content">
								<div class="input">
									<input type="email" name="subscribe-email" placeholder="ایمیل شما">
								</div>
								<div class="button">
									<button type="button">اشتراک</button>
								</div>
							</div>
						</form>
						<ul class="flat-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul><!-- /.flat-social -->
					</div><!-- /.subscribe -->
				</div>
			</div>
		</div>
	</section><!-- /.mail-chimp -->
	<!-- Footer -->
	<!-- Go Top -->
	<a class="go-top">
		<i class="fa fa-chevron-up"></i>
	</a>

</div>