
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="widget widget-link">
					<ul>
						<li><a href="/AboutUs">درباره ما</a></li>
						<li><a href="/Product">فروشگاه آنلاین</a></li>
						<li>پشتیبانی : <a href="tel:+989377593287">09377593287&nbsp;(کلیک کنید)</a></li>
					</ul>
				</div><!-- /.widget -->
			</div><!-- /.col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<div class="widget widget-link link-login">
					<ul>
						<li><a href="/LogIn">ورود</a></li>
						<li><a href="/Register">ثبت نام</a></li>
						<li><a href="/UserPanel">سبدخرید</a></li>
						<li><a href="#">لیست علاقه مندی ها</a></li>
					</ul>
				</div><!-- /.widget -->
			</div><!-- /.col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<div class="widget widget-link link-faq">
					<ul>
						<li><a href="#">سوالات متداول</a></li>
						<li><a href="#">شرایط خدمت رسانی</a></li>
						<li><a href="#">سیاست حفظ حریم خصوصی</a></li>
						<li><a href="#">مرجوع کردن</a></li>
					</ul>
				</div><!-- /.widget -->
			</div><!-- /.col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<div class="widget widget-brand">
					<a style="width:100%;background-color:red;" target="_blank" href="https://trustseal.enamad.ir/?id=148557&Code=Ra2zjhfvqZppFiei4l00">
						<img src="https://Trustseal.eNamad.ir/logo.aspx?id=148557&Code=Ra2zjhfvqZppFiei4l00" alt="" style="cursor:pointer" id="Ra2zjhfvqZppFiei4l00">
						نماد اعتماد
					</a>
				</div><!-- /.widget -->
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</footer><!-- /.footer -->

<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="copyright text-center">2020&copy; -  کلیه حقوق این وب سایت محفوظ و متعلق به <a href="/">فروشگاه اینترنتی لیندا</a> می باشد</p>
			</div>
		</div>
	</div>
</div>
<!-- Go Top -->
<a class="go-top">
	<i class="fa fa-chevron-up"></i>
</a>