@*<div class="container-fluid">
	<div class="col-lg-12">
		<img src="/Modaz/images/slider/slider-bg-1.jpg">
	</div>
</div>*@

<div class="rev_slider_wrapper fullwidthbanner-container">
	<div id="rev-slider1" class="rev_slider fullwidthabanner">
		<ul>
			<!-- Slide 1 -->
			<li data-transition="random">
				<!-- Main Image -->
				<img src="/Modaz/images/slider/slider-bg-1.jpg" alt="" data-bgposition="center center" data-no-retina>

				<!-- Layers -->
				<div class="tp-caption tp-resizeme text-333 font-weight-400"
					 data-x="['left','left','left','center']" data-hoffset="['33','33','33','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-115','-115','-115','-115']"
					 data-fontsize="['22','22','22','22']"
					 data-lineheight="['60','60','60','60']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="700"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					<span class="text-line left"></span>بهترین کیفیت ها<span class="text-line right"></span>
				</div>

				<div class="tp-caption tp-resizeme text-333 font-weight-500"
					 data-x="['left','left','left','center']" data-hoffset="['13','13','13','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-39','-39','-39','-59']"
					 data-fontsize="['80','80','80','20']"
					 data-lineheight="['130','130','130','60']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="1000"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					تخفیف ویژه
				</div>

				<div class="tp-caption tp-resizeme text-333 font-weight-400"
					 data-x="['left','left','left','center']" data-hoffset="['13','13','13','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','5']"
					 data-fontsize="['48','48','48','28']"
					 data-lineheight="['60','60','60','40']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="1000"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					به همراه هدایای ارزنده
				</div>

				<div class="tp-caption"
					 data-x="['left','left','left','center']" data-hoffset="['20','20','20','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','80']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="1000"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					<a href="#" class="themesflat-button bg-accent has-shadow"><span>سفارش دهید</span></a>
				</div>
			</li>
			<!-- /End Slide 1 -->
			<!-- Slide 2 -->
			<li data-transition="random">
				<!-- Main Image -->
				<img src="/Modaz/images/slider/slider-bg-1.jpg" alt="" data-bgposition="center center" data-no-retina>

				<!-- Layers -->
				<div class="tp-caption tp-resizeme text-333 font-weight-400"
					 data-x="['left','left','left','center']" data-hoffset="['33','33','33','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-115','-115','-115','-115']"
					 data-fontsize="['22','22','22','22']"
					 data-lineheight="['60','60','60','60']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="700"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					<span class="text-line left"></span>جدیدترین مدل ها<span class="text-line right"></span>
				</div>

				<div class="tp-caption tp-resizeme text-333 font-weight-500"
					 data-x="['left','left','left','center']" data-hoffset="['13','13','13','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-39','-39','-39','-59']"
					 data-fontsize="['80','80','80','20']"
					 data-lineheight="['130','130','130','60']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="1000"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					کیفیت عالی
				</div>

				<div class="tp-caption tp-resizeme text-333 font-weight-400"
					 data-x="['left','left','left','center']" data-hoffset="['13','13','13','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','5']"
					 data-fontsize="['48','48','48','28']"
					 data-lineheight="['60','60','60','40']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="1000"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
				  به همراه تخفیف های عالی
				</div>

				<div class="tp-caption"
					 data-x="['left','left','left','center']" data-hoffset="['20','20','20','0']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','80']"
					 data-width="full"
					 data-height="none"
					 data-whitespace="normal"
					 data-transform_idle="o:1;"
					 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
					 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					 data-mask_in="x:0px;y:[100%];"
					 data-mask_out="x:inherit;y:inherit;"
					 data-start="1000"
					 data-splitin="none"
					 data-splitout="none"
					 data-responsive_offset="on">
					<a href="#" class="themesflat-button bg-accent has-shadow"><span>شروع خرید</span></a>
				</div>
			</li>
			<!-- /End Slide 2 -->
		</ul>
	</div>
</div>

