<section class="flat-row row-icon-box bg-section bg-color-f5f">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="flat-icon-box icon-top style-1 clearfix text-center">
					<div class="inner no-margin">
						<div class="icon-wrap">
							<i class="fa fa-truck"></i>
						</div>
						<div class="text-wrap">
							<h5 class="heading"><a href="#">ارسال رایگان</a></h5>
							<p class="desc">سفارشات بالای 250,0000 تومان</p>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
			<div class="col-md-3">
				<div class="flat-icon-box icon-top style-1 clearfix text-center">
					<div class="inner">
						<div class="icon-wrap">
							<i class="fa fa-money"></i>
						</div>
						<div class="text-wrap">
							<h5 class="heading"><a href="#">خرید ایمن</a></h5>
							<p class="desc">دارای نماد الکترونیکی و درگاه بانک صادرات</p>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
			<div class="col-md-3">
				<div class="flat-icon-box icon-top style-1 clearfix text-center">
					<div class="inner">
						<div class="icon-wrap">
							<i class="fa fa-gift"></i>
						</div>
						<div class="text-wrap">
							<h5 class="heading"><a href="#">هدیه برای همه</a></h5>
							<p class="desc">با هر خرید هدیه دریافت کنید</p>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
			<div class="col-md-3">
				<div class="flat-icon-box icon-top style-1 clearfix text-center">
					<div class="inner">
						<div class="icon-wrap">
							<i class="fa fa-clock-o"></i>
						</div>
						<div class="text-wrap">
							<h5 class="heading"><a href="#">24/11</a></h5>
							<p class="desc">پشتیبانی از ساعت 9:00 الی 20:00</p>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
		</div>
	</div>
</section>
<!-- END ICON BOX -->
<div class="col-lg-10 col-lg-offset-1 centerText">
	<hr />
	<p class="colorSpanValid">در صورتی که نیاز به مشاوره یا پشتیبانی داشتید می تواند با شمارهای زیر تماس حاصل فرمایید </p>
	<div class="centerText">
		<a href="tel:+989377593287">09377593287&nbsp;(کلیک کنید)</a>
		<br />
		<a href="tel:+989198962594">09198962594&nbsp;(کلیک کنید)</a>
	</div>
	<hr />
</div>
<section class="flat-row mail-chimp">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="text">
					<h3>اشتراک در خبرنامه</h3>
				</div>
			</div>
			<div class="col-md-8">
				<div class="subscribe clearfix">
					<form asp-action="SmsChimp" method="post" accept-charset="utf-8" id="subscribe-form">
						<div class="subscribe-content">
							<div class="input">
								<input type="text" name="number" placeholder="شماره تلفن شما">
							</div>
							<div class="button">
								<button type="submit">اشتراک</button>
							</div>
						</div>
					</form>
					<ul class="flat-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google"></i></a></li>
						<li><a href="#"><i class="fa fa-behance"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul><!-- /.flat-social -->
				</div><!-- /.subscribe -->
			</div>
		</div>
	</div>
</section><!-- /.mail-chimp -->
