.img-BoxProduct{
	max-height:250px;
}
.colorBtn{
	color:white !important;
}
.colorSpanValid {
	color:red;
}
.scrollable-hight {
	min-height:700px;
}
.centerText{
	text-align:center;
}
.margin-2{
	margin:6px;
}
.img-Bank{
	width:70px;
}
