@model LindaEShop.Core.DTOs.LogInViewModel
@{
	ViewData["Title"] = "ورود کاربران";
	string ReturnUrl = (string)ViewData["ReturnUrl"];
}
<partial name="_Slider" />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="title-section margin_bottom_17">
				<h2 class="title">همین حالا وارد شوید</h2>
			</div><!-- /.title-section -->
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
	<div class="container">
		<br />
		<br />

		<div class="alert alert-success">
			<h4>اگر ثبت نام نکردید  <a href="/Register" class="btn btn-success">ثبت نام کنید</a></h4>
		</div>

		<br />
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="wrap-contact">
				<form novalidate class="contact-form form-group form-control" method="post" asp-action="LogIn">
					<input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
					<div class="form-group">
						<div class="form-group">
							<label class="form-control-label" asp-for="Number"></label>
							<input class="form-control margin-2" asp-for="Number" type="text" autofocus>
							<span asp-validation-for="Number" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="form-control-label" asp-for="Password"></label>
							<input class="form-control margin-2" asp-for="Password" type="password">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<br />
						<div class="form-group">
							<input type="checkbox" asp-for="RememberMe">
							<label asp-for="RememberMe"></label>
						</div>

					</div>
					<div class="form-submit margin-top-32 ">
						<span class="form-control-label"> <a href="/ForgotPassword">  کلمه عبور را فراموش کرده اید؟ کلیک کنید .</a></span>
						<br />
						<hr />
						<button class="btn btn-lg btn-login btn-block" type="submit">ورود</button>
					</div>
				</form>
			</div><!-- /.wrap-contact -->
		</div>
	</div><!-- /.row -->
</div><!-- /.container -->
