@model LindaEShop.Core.DTOs.ResetPasswordViewModel
@{
	ViewData["Title"] = "تغییر کلمه عبور";
}

<partial name="_Slider" />
<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section margin_bottom_17">
					<h2 class="title">
						تغییر کلمه عبور
					</h2>
				</div><!-- /.title-section -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="wrap-contact">
				<form novalidate class="contact-form" method="post" asp-action="ResetPassword" >
					<div class="form-text-wrap clearfix">
						<div class="contact-subject">
							<label>کد فعالسازی ارسال دریافت شده در sms</label>
							<input asp-for="ActiveCode" type="text">
							<span asp-validation-for="ActiveCode" class="text-danger"></span>
						</div>
						<div class="contact-subject">
							<label asp-for="Password"></label>
							<input asp-for="Password" type="password">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="contact-subject">
							<label asp-for="RePassword"></label>
							<input asp-for="RePassword" type="password" >
							<span asp-validation-for="RePassword" class="text-danger"></span>
						</div>
					</div>
					<div class="form-submit margin-top-32 ">
						<button class="btn btn-lg btn-login btn-block" type="submit">ثبت نام</button>
					</div>
				</form>
			</div><!-- /.wrap-contact -->
	</div><!-- /.row -->
</div><!-- /.container -->
