@model IEnumerable<LindaEShop.DataLayer.Entities.ProductGroup>



<li class="active">
	<a href="/">صفحه اصلی</a>
</li>

@foreach (var item in Model.Where(i => i.ParentId == null))
{
	<li>
		<a href="/Product?selectedGroup=@item.Id">@item.Title </a>
		@if (Model.Any(g => g.ParentId == item.Id))
		{
			<ul class="submenu">
				@foreach (var subItem in Model.Where(i => i.ParentId == item.Id))
				{
					<li><a href="/Product?selectedGroup=@subItem.Id">@subItem.Title</a></li>
				}
			</ul>
		}
	</li>
}


