@{
	ViewData["Title"] = "در باره ما";
}

<partial name="_Slider" />

<section class="flat-row row-icon-box ">
	<div class="container">
		<div class="row">
			<br />
			<br />
			<div class="col-lg-8 col-lg-offset-2">
				<h3>معرفی لیندا </h3>
				<p>
					لیندا یک فروشگاه اینترنتی لباس خواب و لباس زیر زنانه هستش که سعی کرده اقلام فروشگاه خودش رو از بهترین و مناسب ترین کیفیت ها تهیه کنه و با هزینه خیلی مناسب نسبت به بازار به شما عزیزان ارائه کنه .
				</p>
				<p>
					خرید از لیندا خیلی ساده هستش و شما میتونید با چند کلیک به محصول مورد نظر خودتون برسید .
				</p>
				<p>
					همچنین ما سعی کردیم با استفاده از راه کارهای امنیتی و الگوهای ایمن که مورد تایید شبکه بانکی هستش امنیت خرید شما رو تامین کنیم . پس با خیال راحت از امنیت خرید و کیفیت اجناس خریدتون رو انجام بدید   : )
				</p>
			</div>
			<br />
			<br />
		</div>
		<br />
		<br />
		<br />
	</div>
</section>


<partial name="_UtilitisView" />