@{
	ViewData["Title"] = "خانه";
	List<LindaEShop.Core.DTOs.ShowProductListItemViewModel> popular = ViewData["popular"] as List<LindaEShop.Core.DTOs.ShowProductListItemViewModel>;
}
<!-- SLIDER -->
<partial name="_Slider" />
<!-- END SLIDER -->
<!-- IMAGE BOX -->
<section class="flat-row row-image-box">
	<div class="container">
		<div class="row gutter-10">
			<div class="col-sm-6 col-md-4">
				<div class="flat-image-box style-1 data-effect div-h22 clearfix">
					<div class="item data-effect-item">
						<div class="inner">
							<div class="thumb">
								<img src="/Modaz/images/image-box/imgbox-1-375x500.jpg" alt="Image">
								<div class="elm-btn">
									<a href="#" class="themesflat-button bg-white width-150">برای آقایان</a>
								</div>
								<div class="overlay-effect bg-color-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-4 -->
			<div class="col-sm-6 col-md-4">
				<div class="flat-image-box style-1 row2 data-effect clearfix">
					<div class="item data-effect-item">
						<div class="inner">
							<div class="thumb">
								<img src="/Modaz/images/image-box/imgbox-1-375x240.jpg" alt="Image">
								<div class="elm-btn">
									<a href="#" class="themesflat-button bg-white width-150">برای کودکان</a>
								</div>
								<div class="overlay-effect bg-color-1"></div>
							</div>
						</div>
					</div>

					<div class="item data-effect-item">
						<div class="inner">
							<div class="thumb">
								<img src="/Modaz/images/image-box/imgbox-2-375x240.jpg" alt="Image">
								<div class="elm-btn">
									<a href="#" class="themesflat-button bg-white width-150">زیورآلات</a>
								</div>
								<div class="overlay-effect bg-color-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-4 -->
			<div class="col-sm-6 col-md-4">
				<div class="flat-image-box style-1 data-effect div-h20 clearfix">
					<div class="item data-effect-item">
						<div class="inner">
							<div class="thumb">
								<img src="/Modaz/images/image-box/imgbox-2-375x500.jpg" alt="Image">
								<div class="elm-btn">
									<a href="#" class="themesflat-button bg-white width-150">برای خانم ها</a>
								</div>
								<div class="overlay-effect bg-color-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.col-md-4 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->
<!-- PRODUCT NEW -->
<section class="flat-row row-product-new">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section margin-bottom-52">
					<h2 class="title">
						محصولات جدید
					</h2>
				</div>
				<div class="product-content product-fourcolumn clearfix">
					<ul class="product style2 clearfix">

						@foreach (var item in Model)
						{
							<partial name="_BoxProductNew" model="@item" />
						}

					</ul>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
<!-- END PRODUCT NEW -->
<!-- ANIMATION BOX -->
<section class="flat-row row-animation-box bg-section row-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-animation-block">
					<div class="title-section width-before-17 bg-before-white margin-bottom-14">
						<div class="sup-title"><span>جدید ترین  محصولات</span></div>
						<h2 class="title font-size-52 line-height-76">مخصوص خانم ها</h2>
						<div class="sub-title"><span>کیفیت عالی و قیمت مناسب</span></div>
					</div>
					<div class="elm-btn text-center">
						<a href="#" class="themesflat-button bg-accent has-padding-36">شروع خرید</a>
					</div>
				</div><!-- /.flat-animation-block -->
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
<!-- END ANIMATION BOX -->
<!-- PRODUCT -->
<section class="flat-row row-product-project style-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section margin-bottom-41">
					<h2 class="title">محصولات پر فروش</h2>
				</div>
				<ul class="flat-filter style-1 text-center max-width-682 clearfix">
					<h4>پرفروش ترین و محبوب ترین محصولات ما</h4>
				</ul>
				<div class="divider h54"></div>
				<div class="product-content product-fourcolumn clearfix">
					<ul class="product style2 isotope-product clearfix">

						@foreach (var item in popular)
						{
							<partial name="_BoxProduct" model="@item" />
						}

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END PRODUCT -->
<!-- ICON BOX -->
<partial name="_UtilitisView" />